@model CreateBookDto
@{
    ViewData["Title"] = "CreateBook";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Kitap Ekleme</h4>
            <br />
            <form class="form-horizontal form-material" method="post">
                <div class="form-group">
                    <label class="col-md-12">Kitap Adı</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control form-control-line" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Kitap Yayınlanma Tarihi</label>
                            <input type="datetime-local" class="form-control form-control-line" asp-for="CreateDate">
                            <span asp-validation-for="CreateDate" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Kitap Sayfa Sayısı</label>
                            <input type="text" class="form-control form-control-line" asp-for="PageCount">
                            <span asp-validation-for="PageCount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Kitap Fiyatı</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control form-control-line" asp-for="Price">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Kategori</label>
                    <div class="col-sm-12">
                        @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.CategoryValues,new {@class="form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Yazar</label>
                    <div class="col-sm-12">
                        @Html.DropDownListFor(x=>x.AuthorId,(List<SelectListItem>)ViewBag.AuthorValues,new {@class="form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-success">Yeni Kitap Girişi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



