@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/material-lite-master/assets/images/favicon.png">
    <title>Material Pro Admin Template - The Most Complete & Trusted Bootstrap 4 Admin Template</title>
    <link href="~/material-lite-master/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/material-lite-master/css/style.css" rel="stylesheet">
    <link href="~/material-lite-master/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <b>
                            <img src="~/material-lite-master/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span style="text-transform: uppercase; color: white;">
                            KÜTÜPHANE PROJESİ
                        </span>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="waves-effect waves-dark" href="/Book/Index" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Kitaplar</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/Author/Index" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Yazarlar</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/Category/Index" aria-expanded="false"><i class="mdi mdi-view-sequential"></i><span class="hide-menu">Kategoriler</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/material-lite-master/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/material-lite-master/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="~/material-lite-master/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/material-lite-master/js/jquery.slimscroll.js"></script>
    <script src="~/material-lite-master/js/waves.js"></script>
    <script src="~/material-lite-master/js/sidebarmenu.js"></script>
    <script src="~/material-lite-master/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/material-lite-master/js/custom.min.js"></script>
</body>

</html>
